%heading-5 {
  font-weight: 700;
  font-size: 16px;
}

%heading-7 {
  font-weight: 600;
  font-size: 12px;
}

%paragraph {
  font-weight: 400;
  font-size: 16px;
}

%paragraph-small {
  font-weight: 400;
  font-size: 12px;
}