@import '../../scss/vars.scss';

.row {
  display: flex;
  border: 1px solid $color-pinkish-grey;
  border-bottom: none;

  &:last-of-type {
    border-bottom: 1px solid $color-pinkish-grey;
  }

  &--highlighted {
    background-color: $color-white;
  }
}