@import '../../scss/placeholders/typography.scss';
@import '../../scss/vars.scss';

.boat-item-name {
  color: $color-charcoal-grey;
  
  &__title {
    @extend %heading-5;
    margin-bottom: 0.5em;
  }

  &__subtitle {
    display: flex;
    align-items: center;
  }

  &__year {
    @extend %paragraph;
    margin-right: 0.7em;
  }

  &__marina {
    @extend %paragraph-small;
    margin-top: 0.2em;
  }
}